h1{
	margin-top: 30px;
	margin-bottom: 40px;
	font-size: 25px;
}

h2{
	font-size: 20px;
	border-bottom: 1px solid;
}

ul {
  list-style: none;
}

div{
	margin-bottom: 40px;
}

li{
	margin-bottom: 15px;
	font-size: 18px;
}

.li > p{
	font-weight: bold;
}

a:after {
  margin: 0 3px;
  font-family: FontAwesome;
  vertical-align: middle;
  content: '\f08e';
}

p {
	margin-left: 40px;
	font-size: 18px;
}

footer{
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
}
