h1{
	margin-left: 40px;
	margin-top: 30px;
	margin-bottom: 40px;
}

h2{
	margin-left: 40px;
}

ul {
  list-style: none;
}

div{
	margin-bottom: 40px;
}

li{
	margin-bottom: 15px;
	font-size: 18px;
}

.li > p{
	font-weight: bold;
}

p {
	margin-left: 40px;
}

footer{
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
}
